# ---------------------------------------
# Logs
# ---------------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ---------------------------------------
# Node modules (ignorar todos los posibles)
# ---------------------------------------
**/node_modules/

# ---------------------------------------
# Build outputs
# ---------------------------------------
dist
dist-ssr

# ---------------------------------------
# Sistema operativo
# ---------------------------------------
.DS_Store
*.local

# ---------------------------------------
# Archivos temporales
# ---------------------------------------
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ---------------------------------------
# Configuración de editores
# ---------------------------------------
.vscode/
.idea/

# ---------------------------------------
# Otros
.env
.env.local
.env.*.local
